<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Negocios.Properties.Settings.Punto_de_ventaConnectionString"
            connectionString="Data Source=DESKTOP-DIP02I4\SQLSERVER;Initial Catalog=Punto-de-venta;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>